<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--Establishment beans-->
    <bean name="hibernateEstablishmentDao" class="com.sap.wtl.daos.impls.HibernateEstablishmentDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="defaultEstablishmentService" class="com.sap.wtl.services.impls.DefaultEstablishmentService">
    </bean>

    <!--User beans-->
    <bean name="hibernateUserDao" class="com.sap.wtl.daos.impls.HibernateUserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="defaultUserService" class="com.sap.wtl.services.impls.DefaultUserService">
    </bean>

    <!--Vote beans-->
    <bean name="hibernateVoteDao" class="com.sap.wtl.daos.impls.HibernateVoteDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="defaultVoteService" class="com.sap.wtl.services.impls.DefaultVoteService">
    </bean>

    <!--Poll beans-->
    <bean name="hibernatePollDao" class="com.sap.wtl.daos.impls.HibernatePollDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="defaultPollService" class="com.sap.wtl.services.impls.DefaultPollService">
    </bean>

    <!--Validator beans-->

    <bean name="userValidator" class="com.sap.wtl.validator.UserValidator"/>

    <bean name="defaultSecurityService" class="com.sap.wtl.services.impls.DefaultSecurityService"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>validation</value>
            </list>
        </property>
    </bean>

</beans>