.row {
    margin-left: 0;
    margin-right: 0;
}

.tableBody {
    max-height: 71vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableLine {
    border-bottom: 1px solid #6f6d6d;
    padding: 10px;
    position: relative;
}

.tableHeader{
    border-bottom: 1px solid #6f6d6d;
    margin: 17px;
    font-weight: 700;
    padding-bottom: 10px;
}

.containerTable {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-top: 20px;
}

img.downButton, img.upButton, img.addButton, .searchDiv img {
    cursor: pointer;
}

img.downButton, img.upButton, img.addButton, img.aleloLogo, .searchDiv img{
    width: 30px;
}

.logo img {
    width: 100px;
    -webkit-border-radius:150px;
    border-radius: 150px;
    float: right;
}

.addButton {
    left: 21vw;
    top: 60px;
    position: absolute;
}

.coin {
    width: 20px;
}

.containerTable {
    margin: 0px;
    width: 100%;
}

.establishmentMap iframe {
    width: 100%;
    margin-top: 10px;
}

.title {
    padding-top:5px;
    font-weight: 800;
    font-size: 38px;
    letter-spacing: -4.8px;
    text-align: center;
}

.name {
    font-weight: 700;
}

.establishmentControls {
    position: absolute;
    top: 5px;
    right: 5px;
}

img.downButton {
    position: absolute;
    top: 77px;
    right: 0px;
}

img.upButton {
    position: absolute;
    right: 0px;
}

img.downButton:hover, img.upButton:hover, img.addButton:hover, .searchDiv img:hover {
    width: 31px;
}

img.downButton:active, img.upButton:active, img.addButton:active, .searchDiv img:active {
    width: 29px;
}

@media only screen and (max-device-width: 480px) {
    .addButton {
        top: 55px;
        left: 2vw;
    }
}

.searchDiv {
    margin: 5px;
}

.searchDiv input {
    width: 180px;
}

.searchDiv img {
    position: absolute;
    top: 5px;
}

.searchDiv .search {
    right: 50px;
}

.searchDiv .clear {
    right: 20px;
}